.purple-button {
  background-color: purple !important;
  border-color: purple !important;
  color: #ffffff !important;
  outline: none;
  border-radius: 0;
  border: 1px solid purple;
}

.purple-button:hover {
  background-color: whitesmoke !important;
  color: purple !important;
  border-color: purple !important;
  transition: 0.9s;
}

.purple-button,
.purple-button:focus,
.purple-button:active {
  background-color: purple !important;
  color: white !important;
  border-color: purple !important;
}

.purple-button.small {
  font-size: 10px;
}

.purple-button.large {
  font-size: 16px;
}
