
.service-card {
  transition: transform 0.3s ease;
  width: 100% !important;
  height: 30rem !important; 
}
.ser-img {
  width: 100% !important;
  height: 200px !important;
  object-fit: cover;
}
.card-body {
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  padding: 10px;
  overflow-y: hidden;
}
.card-description{
  font-size: 14px !important;
}
.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  color: purple;
}


