.powerImg {
  background: url(../../../Assets/images/AllproductsImages/TitleImg/areas\ \(3\).png);
  width: 100% !important;
  height: 320px;
  background-repeat: no-repeat;
}
.PRmaintext {
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(234 238 255)
}

.PRmaintext h3{
  font-weight: 700;

}