.navBg {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky !important;
  width: 100%;
  top: 0;
  background: #eaeeff;
  letter-spacing: 0.0625rem;
  font-family: "Avenir LT W01_85 Heavy1475544";
  font-size: 14px;
  z-index: 1000;
  transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  padding: 10px;
}

.navItem {
  position: relative;
  color: #000000a6;

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    padding: 14px 0;
    margin: 0;
    width: max-content;
    transition: all 0.3s ease;
    border-radius: 0 !important;
    border: none;
    z-index: 1;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.27);
    background-color: #fff; 
  }

  .dropdown-item {
    color: #000; /* Default text color */
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: purple !important;
      color: #ffffff !important;
      font-weight: 600 !important;
      transition: 0.6s;
    }
  }

  &:hover .dropdown-menu,
  &:focus .dropdown-menu,
  &:active .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .submenu {
    padding-left: 8px;
    font-weight: 500;
    color: #000 !important; /* Ensure submenu items are visible */

    &:hover {
      color: #fff !important;
      font-weight: 600 !important;
      transition: 0.6s;
    }

    .dropdown-menu {
      left: 100%;
      top: 0;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-10px);
      transition: all 0.3s ease;
    }

    &:hover > .dropdown-menu,
    &:focus > .dropdown-menu,
    &:active > .dropdown-menu {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  .dropdown-toggle:hover {
    color: #fff !important;
    background-color: purple !important;
  }
}

.navItem .dropdown-toggle > svg {
  display: none;
}

.submenu .dropdown-toggle > svg {
  display: none;
}

.dropdown-toggle::after {
  content: none;
}

@media (max-width: 767px) {
  .navBg {
    background: #eaeeff;
  }

  .navbar-collapse {
    background-color: #eaeeff; 
  }

  .navItem {
    & .dropdown-menu {
      position: relative;
      opacity: 1;
      visibility: visible;
      background-color: #eaeeff; 
    }

    .submenu {
      padding-left: 16px;
      font-weight: 400;
    }

    & .submenu .dropdown-menu {
      position: relative;
      opacity: 1;
      visibility: visible;
      background-color: #eaeeff;
      left: 0 !important;
    }

    & .dropdown-item {
      display: block;
      color: #000 !important;
    }

    & .submenu > .dropdown-menu {
      display: none; 
    }

    & .dropdown-item:focus + .dropdown-menu,
    & .dropdown-item:active + .dropdown-menu {
      display: block !important; 
      visibility: visible;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
  }

  .navItem .dropdown-menu {
    width: 100%;
  }

  .submenu .dropdown-menu {
    width: 100%;
    left: 0 !important;
  }

  .navbar-collapse {
    background-color: #eaeeff;
  }

  .dropdown-toggle::after {
    display: none;
  }
}

.navItem .dropdown-item:hover {
  background-color: purple !important;
  color: #fff !important;
  font-weight: 600;
}

.purple-button {
  background-color: purple !important;
  border-color: purple !important;
  color: #ffffff !important;
  transition: 0.5s all ease-in-out !important;

  &:hover {
    background-color: whitesmoke !important;
    color: purple !important;
    border-color: purple !important;
  }
}

.purple-button,
.purple-button:focus,
.purple-button:active {
  background-color: purple;
  color: white;
  border-color: purple;
}

@media (min-width: 768px) and (max-width: 992px) {
  .purple-button {
    font-size: 10px !important;
  }

  .navbar .container {
    padding-left: 0;
  }
}

/* Ensure logo is responsive */
.imglogo {
  width: 100% !important;
  max-width: 150px !important;
}


